body {
    font-family: Pretendard, sans-serif;
    background: #fff;
    margin: 0;
}

.admin-review-wrapper {
    max-width: 900px;
    margin: 40px auto;
}

/* 탭 버튼 */
.admin-tab-menu {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.admin-tab-menu button {
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: white;
    font-size: 13px;
    cursor: pointer;
}

.admin-tab-menu .active {
    border: 1px solid black;
    font-weight: bold;
}


/* 후기 리스트 */
.review-list {
    border-top: 1px solid #eee;
}

/* 후기 카드 */
.review-item {
    padding: 18px 0;
    border-bottom: 1px solid #eee;
}

.review-meta {
    font-size: 12px;
    color: #999;
    margin-bottom: 6px;
}

.review-type {
    color: #ff5c38;
    font-weight: bold;
    margin-right: 10px;
}

.review-title {
    font-size: 15px;
    margin-bottom: 10px;
}

.review-image img {
    width: 180px;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* 관리자 버튼 */
.review-admin-actions {
    display: flex;
    gap: 1px !;
}

.review-admin-actions button {
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    cursor: pointer;
}

.btn-delete {
    background: #ffeded !important;
    border-color: #ff5c38;
    color: #ff5c38;
}
