.Main-Layout {
    background-color: white;
}

.ErrorPage-Wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.ErrorPage-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-self: center;
    margin-top: 280px;
}

.ErrorPage-Svg {
    fill: rgb(84, 84, 84);
}

.ErrorPage-Text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.ErrorPage-Text p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
}