@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css') format('font-woff2');
}

html {
    scrollbar-gutter: stable;
    line-height: 1.5;
    tab-size: 4;
    font-family: sans-serif;
    font-variation-settings: normal;
    overflow-y: scroll;
}

*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard";
    line-height: inherit;
    margin: 0;
}

main {
    display: block;
    background-color: white;
}

img {
    max-width: 100%;
    border: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

img, svg {
    display: block;
}

.full-view {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.page-container {
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
    position: relative;
}

.profile-conatiner {
    border-bottom: 1px solid rgb(228, 228, 228);
}

.profile-wrapper {
    padding: 40px 0px 32px;
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;
}

.seller-info-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.seller-info {
    gap: 40px;
    display: flex;
}

.seller-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.seller-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.seller-badge {
    width: 60px;
    height: 18px;
}

.seller-name {
    color: rgb(28, 28, 28);
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
}

.last-login {
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 16px;
    color: rgb(158, 158, 158);
}

.seller-level-container {
    display: block;
}

.seller-level-wrapper {
    gap: 12px;
    display: flex;
    width: 100%;
    align-items: center;
}

.each-seller-level {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 120px;
    text-align: left;
    gap: 4px;
    cursor: pointer;
}

.seller-level-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.arrow-in-follower {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.count-people {
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
}

.info-icon-wrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

.info-icon {
    margin-left: 2px;
    display: flex;
    align-self: center;
}

.info-icon svg {
    width: 1em;
    height: 1em;
}

.social-button-wrapper {
    width: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.share-btn-wrap {
    min-width: 90px;
    /* width: 90px; */
}

.share-button {
    width: 100%;
    height: 40px;
    padding: 14px 16px;
    border-radius: 8px;
    white-space: nowrap;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(84, 84, 84);
}

.share-icon {
    margin-right: 6px;
}

.share-icon svg, .follow-btn-wrap svg {
    width: 18px;
    height: 18px;
}

.follow-btn-wrap {
    min-width: 200px;
    width: 100%;
    height: 40px;
    padding: 14px 16px;
    border-radius: 8px;
    gap: 4px;
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
    align-items: center;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    background-color: rgb(28, 28, 28);
    color: white;
}










































































































