<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
    <link rel="stylesheet" href="../../static/css/seller/review.css">
</head>
<body>
    <div id="react-view" class="entire">
        <div class="ScrollTop__ScrollTop Btn">
            <button class="ScrollTop__ScrollTop Btn2">
                <span>최상위로</span>
            </button>
            <div class="ScrollTop__Styled Icon">
                <svg height="18px" version="1.1" viewBox="0 0 22 18" width="22px" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd" id="Page-1" stroke="none">
                        <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                        <path d="M12.006,5.987 L22.75,16.437 C22.9,16.587 23,16.837 23,17.087 C23,17.338 22.9,17.587 22.7,17.737 C22.35,18.087 21.75,18.087 21.35,17.737 L12.006,8.587 L2.611,17.737 C2.261,18.087 1.662,18.087 1.262,17.737 C0.912,17.387 0.912,16.787 1.262,16.437 L12.006,5.987 L12.006,5.987 Z M22.175,0 C22.631,0 23,0.37 23,0.825 L23,0.877 C23,1.332 22.63,1.702 22.175,1.702 L1.825,1.702 C1.369,1.702 1,1.332 1,0.877 L1,0.825 C1,0.369 1.37,0 1.825,0 L22.175,0 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <section aria-label="Notifications alt+T" tabindex="-1" aria-live="polite" aria-relevant="additions text" aria-atomic="false"></section>
    <main class="CreatorCenterLayout__Wrapper-sc-9lbqnz-1 gqcQAp">
        <div class="CreatorCenterLayout__PageWrapper-sc-9lbqnz-2 OWSFU">
            <div class="CreatorCenterLayout__TabListWrapper-sc-9lbqnz-0 TjOFS">
                <div class>
                    <div class="ui-flex ui-overflow-x-auto ui-scrollbar-hide ui-border-b ui-border-gray-200 CreatorCenterLayout__TabList-sc-9lbqnz-3 gSrLXe">
                        <button class="ui-px-[4px] ui-py-[10px] ui-transition-colors ui-pb-[14px] ui-body1-bold-small ui-whitespace-nowrap ui-flex-shrink-0 ui-border-b-2 ui-border-transparent ui-transition-all ui-duration-300 ui-ease-out ui-text-gray-300 CreatorCenterLayout__StyledTabTrigger-sc-9lbqnz-4 fquUPH" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-성과 부스트" id="tab-성과 부스트" data-tab-id="성과 부스트" tabindex="-1">내 상품 조회</button>
                        <button class="ui-px-[4px] ui-py-[10px] ui-transition-colors ui-pb-[14px] ui-body1-bold-small ui-whitespace-nowrap ui-flex-shrink-0 ui-border-b-2 ui-border-gray-700 ui-transition-all ui-duration-300 ui-ease-out CreatorCenterLayout__StyledTabTrigger-sc-9lbqnz-4 jcyoqr" type="button" role="tab" aria-selected="true" aria-controls="tabpanel-프로젝트 관리" id="tab-프로젝트 관리" data-tab-id="프로젝트 관리" tabindex="0">후기 조회</button>     
                            <button class="ui-px-[4px] ui-py-[10px] ui-transition-colors ui-pb-[14px] ui-body1-bold-small ui-whitespace-nowrap ui-flex-shrink-0 ui-border-b-2 ui-border-transparent ui-transition-all ui-duration-300 ui-ease-out ui-text-gray-300 CreatorCenterLayout__StyledTabTrigger-sc-9lbqnz-4 fquUPH" type="button">주문 조회</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="Reviews__PreviousReviewContainer-sc-gpwt5d-1 cFiUcz">
            <div class="ReviewLayoutHeader__ReviewLayoutHeaderWrapper-sc-1ejstr-0 kywCPi">
                <div class="ReviewLayoutHeader__TitleContainer-sc-1ejstr-2 ioWODz">
                    <div class="ReviewLayoutHeader__ReviewTitle-sc-1ejstr-1 dZtLBR">이전 프로젝트 후기</div>
                    <div class="ReviewLayoutHeader__ReviewTotal-sc-1ejstr-3 emLZOr">123</div>
                </div>
            </div>
            <div class="Reviews__KeywordWrap-sc-gpwt5d-6 kUVLfu">
                <div class="Reviews__KeywordWrapInner-sc-gpwt5d-7 kQfNMM">
                    <div class="ReviewKeywords__KeywordItems-sc-1vpyf8m-0 jyQiks">
                        <div class="ReviewKeywordItem__ReviewKeywordItemWrapper gdLZFN">
                                <div class="ReviewKeywordItem__ReviewTitle-sc-1mwoly9-2 gMYpae">품질</div>
                            <div class="ReviewKeywordItem__ReviewOptionWrapper-sc-1mwoly9-4 fDHLBi ">
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 bddLYL">만족해요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 clKjrk"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        86%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper iQvZee">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmls="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 iUKQGv">보통이에요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 epukLO"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        15%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper kWNMVc">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                        </svg>   
                                    </div>
                                </div>
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 iUKQGv">아쉬워요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 jqYLyO"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        0%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper kWNMVc">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 kVDQCJ" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path> 
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ReviewKeywordItem__ReviewKeywordItemWrapper jZeOxh">
                                <div class="ReviewKeywordItem__ReviewTitle-sc-1mwoly9-2 gMYpae">주문/배송</div>
                            <div class="ReviewKeywordItem__ReviewOptionWrapper-sc-1mwoly9-4 fDHLBi">
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 bddLYL">빨랐어요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 clKjrk"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        86%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper iQvZee">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmls="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 iUKQGv">보통이에요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 ceVIvS"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        8%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper kWNMVc">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                        </svg>   
                                    </div>
                                </div>
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 iUKQGv">느렸어요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 ceVIvS"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        8%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper kWNMVc">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path> 
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ReviewKeywordItem__ReviewKeywordItemWrapper jZeOxh">
                                <div class="ReviewKeywordItem__ReviewTitle-sc-1mwoly9-2 gMYpae">소통</div>
                            <div class="ReviewKeywordItem__ReviewOptionWrapper-sc-1mwoly9-4 fDHLBi">
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 bddLYL">만족해요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 iPvzer"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        100%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper iQvZee">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmls="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 iUKQGv">보통이에요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 jqYLyO"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        0%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper kWNMVc">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 kVDQCJ" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                        </svg>   
                                    </div>
                                </div>
                                <div class="ReviewKeywordItem__ReviewOptionItemWrapper-sc-1mwoly9-5 kWqST">
                                        <div class="ReviewKeywordItem__OptionItemTitle-sc-1mwoly9-3 iUKQGv">아쉬워요</div>
                                    <div class="ProgressBar__Bar-sc-158nqnm-0 jqYLyO"></div>
                                    <div class="ReviewKeywordItem__Rate-sc-1mwoly9-6 kpgzOe">
                                        0%
                                    </div>
                                    <div class="ReviewKeywordItem__IconWrapper kWNMVc">
                                        <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 kVDQCJ" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path> 
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>









        <main class="Notice__Main-sc-1igo1sg-0 ldzXcg">
            
            <section>
                <div class="NoticeList__ListContainer-sc-fwwe7k-0 cDjyMT">
                    <article class="NoticeItem__NoticeItemContainer-sc-1t99hyk-0 hZHlYl">
                        <div class="NoticeItem__NoticeItemContent-sc-1t99hyk-1 jDcjJO">
                            <header class="NoticeItem__NoticeItemHeader-sc-1t99hyk-2 lHiUv">
                                <div class="NoticeItem__NoticeItemHeaderContent-sc-1t99hyk-3 eUzNeg">
                                    <span class="NoticeType__Type-sc-1j2yxjo-0 hrFOqY">Hyun Soo Yoon</span>
                                    <span class="NoticeStatusBadge__Badge-sc-huema4-0 gyRCPO"></span>
                                </div>
                            </header>
                            <div height="8" class="Spacing__Wrapper-sc-126lc0v-0 jBdMJm"></div>
                            <h3 class="NoticeItem__Title-sc-1t99hyk-5 ckwScl">진짜..내가 잘 했어. 과거의 나 칭찬해!!</h3>
                            <div height="16" class="Spacing__Wrapper-sc-126lc0v-0 jjggvt"></div>
                            <time datetime="2026-01-21T10:00:00" class="NoticeItem__CreatedAt-sc-1t99hyk-7 Hfsjg">2022-07-03</time>
                        </div>
                        




                    </article>
                    <article class="NoticeItem__NoticeItemContainer-sc-1t99hyk-0 hZHlYl">
                        <div class="NoticeItem__NoticeItemContent-sc-1t99hyk-1 jDcjJO">
                            <header class="NoticeItem__NoticeItemHeader-sc-1t99hyk-2 lHiUv">
                                <div class="NoticeItem__NoticeItemHeaderContent-sc-1t99hyk-3 eUzNeg">
                                    <span class="NoticeType__Type-sc-1j2yxjo-0 hrFOqY">허윤기</span>
                                    <span class="NoticeStatusBadge__Badge-sc-huema4-0 gyRCPO"></span>
                                </div>
                            </header>
                            <div height="8" class="Spacing__Wrapper-sc-126lc0v-0 jBdMJm"></div>
                            <h3 class="NoticeItem__Title-sc-1t99hyk-5 ckwScl">책을 샀는데 선물이 더 많네요,
몬스테라 이쁘게 만들어(!) 진열하겠습니다. 기다린 보람이 있어요.</h3>
                            <div height="16" class="Spacing__Wrapper-sc-126lc0v-0 jjggvt"></div>
                            <time datetime="2026-01-21T10:00:00" class="NoticeItem__CreatedAt-sc-1t99hyk-7 Hfsjg">2023-07-28</time>
                        </div>
                    </article>
                </div>
            </section>
        </main>
</body>
<script src="../../static/js/seller/review.js"></script>
</html>