<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>후기 관리</title>
 <link rel="stylesheet" href="../static/css/seller/review-clone.css">
</head>
<body>

<div class="admin-review-wrapper">

    <!-- 상단 탭 -->
    <div class="admin-tab-menu">
        <button class="active">전체</button>
        <button>프로젝트</button>
        <button>계획 준수</button>
        <button>소통</button>
    </div>


    <!-- 후기 리스트 -->
    <div class="review-list">

        <!-- 후기 카드 -->
        <div class="review-item">
            <div class="review-meta">
                <span class="review-type">프로젝트</span>
                <span class="review-date">2026-01-21</span>
            </div>

            <div class="review-title">
                <strong>마요</strong>  
                데바디 너무 재밌었어요 확장 기대됩니다!
            </div>

            <div class="review-image">
                <img src="https://via.placeholder.com/180">
            </div>

            <div class="review-admin-actions">
                <button class="btn-hide">숨김</button>
                <button class="btn-delete">삭제</button>
            </div>
        </div>


        <div class="review-item">
            <div class="review-meta">
                <span class="review-type">소통</span>
                <span class="review-date">2026-01-20</span>
            </div>

            <div class="review-title">
                <strong>플라스타</strong>  
                배송 빠르고 친절했어요 👍
            </div>

            <div class="review-admin-actions">
                <button class="btn-hide">숨김</button>
                <button class="btn-delete">삭제</button>
            </div>
        </div>

    </div>

</div>
</body>
<script src="/static/js/seller/review-clone.js"></script>

</html>
